
\.vscode/\.ropeproject/config\.py

\.vscode/settings\.json

__pycache__/sphero\.cpython-37\.pyc

\.vscode/\.ropeproject/objectdb

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

Main/collision\.py\.754a4190e5cbf3fcddb9737e805a5325\.py
