
\.vscode/\.ropeproject/config\.py

\.vscode/settings\.json

__pycache__/sphero\.cpython-37\.pyc

\.vscode/\.ropeproject/objectdb

__pycache__/

HC_Test/hc_wall\.pyc

*.pyc

Main/collision\.py\.754a4190e5cbf3fcddb9737e805a5325\.py
